.red { color: #e42d40 !important; }
.bg-red { background-color: #e42d40 !important; }
.b--red { border-color: #e42d40 !important; }

.blue { color: #237db4 !important; }
.bg-blue { background-color: #237db4 !important; }

.green { color: #28ce68 !important; }
.bg-green { background-color: #28ce68 !important; }

.grey { color: #8492a6 !important; }
.bg-grey { background-color: #8492a6 !important; }

.dark-grey { color: #3c4858 !important; }
.bg-dark-grey { background-color: #3c4858 !important; }

a {
  text-decoration: none !important;
  color: #237db4;
}

.list {
  counter-reset: li;
  padding-left: 0;
}
.list--links li {
  position: relative;
  display: flex;
  align-items: center;
}
.list li:before {
  content: counter(li);
  counter-increment: li;
  margin-right: 1em;
  display: inline-block;
  height: 2em;
  width: 2em;
  line-height: 2em;
  font-size: .5rem;
  background-color: #8492a6;
  color: #fff;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
}
.list--workshops {
  display: flex;
  flex-wrap: wrap;
}
.list--workshops li {
  display: inline-block;
  margin-bottom: 1em;
}
.list--workshops li:before {
  font-size: .8rem;
}
.list--workshops a:first-child li:before {
  background-color: #28ce68 !important;
}
